process {

    executor='slurm'
    cpus = 6
    memory = '24GB'

   clusterOptions = "--partition=big-ram,vm-cpu --output=slurm-%j.out --error=slurm-%j.err"

   // Automatically replace invalid characters in job names
    sanitize = true

    errorStrategy = 'retry'
    maxRetries = 2
}
// watch -n 2 "squeue -u $USER -o '%.18i %.9P %.20j %.8u %.2t %.10M %.10l %.6D %R'"
/* This is the actual final precedence:

(1) Workflow process directives
(2) slurm.config   ← last override from -c
(3) custom.config  ← earlier -c
(4) profile configs (if used)
(5) base.config
(6) nextflow defaults */
